<div class="container">
	<div class="dropdown dd">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="material-icons">menu</i>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/">Inicio</a></li>
		<li><a class="dropdown-item" routerLink="/encuesta">Encuesta</a></li>
		<li><a class="dropdown-item" routerLink="/resultados">Resultados</a></li>
	  </ul>
	</div>
  <router-outlet></router-outlet>
</div>
