
<div class="card my-5">
  <div class="card-body" style="text-align: center;">
    <h1 >Musiquest</h1>
    <div style="margin-left: 35%; margin-right: 35%; margin-top: 2%;">
      <button class="button-89" ><a routerLink="/encuesta">Encuesta</a></button>
    </div>
    <div style="margin-left: 35%; margin-right: 35%; margin-top: 2%;">
      <button class="button-89" routerLink="/resultados">Resultados</button>
    </div>
    <div style="top: 20%;"><img src="./assets/img/catInicio.gif" width="20%" /></div>
  </div>
</div>
